
body{
    background-color: #FFF7F1;
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  
  .overlay {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay h2 {
      background: #000 none repeat scroll 0 0;
      color: tan;
      font-weight: 600;
      margin: 2rem 3rem 0;
      mix-blend-mode: overlay;
      padding: 5px 15px;
      text-align: center;
  }

.profile_button{
    background-color: #476865;
    color: white;
    width: 80px;
    border-radius: 10px;
    
}

.profile_pic{
    border-radius: 50%;
    height: 220px;
    width: 250px;
    padding: 20px;
}

.profile_container{
    justify-content: center;
    display: flex;
    background-color: #FFF7F1;
    height: 650px;
}

.col-sm{
    background-color: #FFF7F1;
}

.description{
    text-align: center;
    color: #BCA37F;
    font-size: 1.2 rem;
}

.links{
    text-decoration: none;
    color: #BCA37F;
}

.linkss{
    text-decoration: none;
    color: #ffffff;
}

/* .col.contact_container_2{
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
} */

.col.contact_container_1
{
    width: 30%;  
    float:left;
    padding-left: 40px;
}

.contact_img{
    padding-left: 70px;
    padding-top: 40px;
}

.col.contact_container_2
{
    width: 30%; 
    float:right;
}

.form_contents{
    padding-left: 200px;
    padding-top: 50px;
}

.contact_heading{
    margin-top: 50px;
    text-align: center;
    color: #9F4A56;
}

.portfolio_skills_name{
    margin-left: 40px; 
    color: #FFEDD8;

}

/*
.contact_fields{
    background-color: #53706d;
    height: 10px;
    width: 50px;
} */

.contact_fields_text{
    color: grey;
}

.profile_container{
    background-color: #113946;
}

.h1_gradient{
    font-weight: 700;
    background: linear-gradient(91deg, #5EAACA 0%, rgba(204, 48, 76, 0.85) 33.33%, #2A69F2 66.67%, rgba(38, 217, 77, 0.90) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width : 1280px) {
    .col_FAQ{
        /* background-color: rgb(210, 205, 199); */
        width:45%;
        min-height: 100px;
        overflow: hidden;
        border-radius: 10px;
        font-weight: 500;
        padding: 10px 20px;
        margin: 0px 10px;
        margin-right: 20px;
        font-size: 20px;
        display:inline-block;
        box-shadow: 5px 5px 5px 5px rgb(160, 166, 167);
    }
    
    
    .subscribe_search{
        box-shadow: 2px 2px 2px 2px;
        border-width: medium;
        border-radius: 5px;
        width: 200px;
        text-align: center;
    }
    
    
    #FAQ_button{
        border-radius: 5px;
    }
    
    
    .FAQ_list{
        list-style: none;
    }
    
    
    .content{
        display: none;
        font-size: 0.8em;
    }
    .collapsible_div{
        cursor: pointer;
        font-weight: 700;
    }
    
    
    .main_container{
        padding: 10px 20px;
        width:100%;
    }
    .container_row{
        width:100%;
        padding:15px 20px;
    }

}

@media screen and (max-width: 600px) {
    

.col_FAQ{
    /* background-color: rgb(210, 205, 199); */
    width:100%;
    min-height: 70px;
    overflow: hidden;
    border-radius: 10px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0px 10px;
    font-size: 0.rem;
    margin-top: 10px;
    box-shadow: 5px 5px rgb(160, 166, 167);
}

.col_FAQ h4{
    font-size: 0.9rem;
}

.subscribe_search{
    box-shadow: 2px 2px 2px 2px;
    border-width: medium;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}


#FAQ_button{
    border-radius: 5px;
}


.FAQ_list{
    list-style: none;
}


.content{
    display: none;
    font-size: 0.8em;
}
.collapsible_div{
    cursor: pointer;
    font-weight: 700;
}


.main_container{
    padding: 10px 20px;
    width:100%;
}
.container_row{
    width:100%;
    padding:15px 20px;
}

.row{
    display: flex;
    flex-direction: column;

}
}

/* .welcome_img{
    opacity: 30%;
    
} */



.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.privacy_button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.privacy_label {
    font-size: 18px;
    color: #ac2ff4;
    margin-left: 10px; 
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.option {
    margin-bottom: 10px;
}

input[type="password"] {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 5px;
}
button.rounded-button {
    background-color: #476865;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#templates{
    background-color: #275d57;
    padding-bottom: 50px;
}

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit';
    background: linear-gradient(#000, #2e8b57);
} */

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #135D66;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: #ffff99; /* Light Yellow */
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #9acd32; /* Greenish */
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #fff; /* White */
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: #fff; /* White */
}

.contact-inputs:focus {
    border: 2px solid #9acd32; /* Greenish */
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #00ff00, #228b22); /* Green gradient */
    cursor: pointer;
}
.contact-left button img{
    height: 15px;
}

.contact-right img{
    width: 500px;
}

@media (max-width: 800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}




/* Style for the section containing the image and text */
.About_portfolio {
    position: relative; /* Position relative to allow absolute positioning of text */
    text-align: center; /* Center align text */
}

/* Style for the image */
.welcome_img {
    width: 100%; /* Make the image cover the entire width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper rendering as a block element */
    opacity: 30%; /* Reduce opacity for better visibility of text */
}

/* Style for the text inside the list items */
.About_portfolio p {
    /* list-style: none; Remove default list styles */
    position: relative; /* Position text absolutely */
    /* Position text horizontally centered */
  /* Center text both vertically and horizontally */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    color: rgb(255, 255, 255); /* Set text color to white for better visibility */
    
}
.About_portfolio ol {
    list-style: none; /* Remove default list styles */
    position: absolute; /* Position text absolutely */
    top: 50%; /* Position text vertically centered */
    left: 10px; /* Position text horizontally centered */
    transform: translateY(-50%); /* Center text both vertically and horizontally */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    color: rgb(8, 8, 8); /* Set text color to white for better visibility */
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 10px; /* Gap between grid items */
    counter-reset: item;
}
/* Style for individual list items */
.About_portfolio ol li {
      counter-increment: item; /* Increment the counter for each list item */
      background: linear-gradient(40deg, var(--secondary), transparent);
      padding: .8rem 1rem;
      margin: 1rem 0;
      display: flex; /* Use flexbox for alignment */
      box-shadow: 0 .08rem #444;
      transition: .3s;
  }
  .About_portfolio ol li:hover{
    /* box-shadow: 0 .08rem var(--text); */
    filter: brightness(85%);
  }
  .About_portfolio ol li p {
    position: relative;
    left: -3rem;
    transition: .3s;



  }
  .About_portfolio ol li:hover p{
    left: 0rem;

  }
  

  /* Style for the counter */
  .About_portfolio ol li::before {

      content: counter(item, decimal-leading-zero); /* Display the counter */
      margin-right: 5px; /* Add spacing between counter and text */
      font: bold 3rem "poppins", sand-serif;
      background:linear-gradient(to top, pink, brown, crimson);
      color:transparent;
      -webkit-background-clip: text;
      background-attachment: fixed;
      opacity: .1;
      transition: .5s;
    }
    .About_portfolio ol li:hover::before{
      opacity: 10;
    }



/* Style for the navigation bar */
nav {
    position: fixed; /* Fixed position to keep it always visible */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Occupy full width */
    background-color: rgb(0, 0, 0); /* Transparent black background */
    z-index: 1000; /* Ensure the navigation bar appears above other content */
    opacity: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Style for the navigation links */
nav ul {
    list-style: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center align navigation links */
}

nav ul li {
    display: inline; /* Display navigation items inline */
    margin: 0 30px; /* Add spacing between navigation items */
    font-size: 0.5cm;
}

nav ul li a {
    color: #ffffff; /* Set text color to white */
    text-decoration: none; /* Remove underline from links */
}
